/* {
    border: 1px solid red !important;
}*/
/*body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align:  center;
}
*/
.radio label{
  padding-left: 30px;
}

